*.json
!*_input.json
!*Proof.json
!frobenius_*.json
!*test_vectors.json
__pycache__
venv
*.env
*profiling*
*.o
*.c
*.so
*.html
*.sage.py
*.idea
*.secrets
*.pb.gz
.cargo/hypothesis/
*.go

tools/garaga_rs/target/
tools/make/requirements.txt

.prev_tests_failed

src/cairo/target/
*target*
Scarb.lock
tests/contracts_e2e/devnet/*

!hydra/garaga/starknet/groth16_contract_generator/examples/*.json
!docs/benchmarks/test_summary.json
*snfoundry_cache
!tools/npm/garaga_rs/*.json
!tools/make/constants.json

# Benchmarks and profiling data
.cargo/benchmarks/*/
src/profile/
src/snfoundry_trace/
