[package]
name = "garaga"
version = "0.14.0"
edition = "2023_10"
licence = "MIT"
keywords = ["zk", "snarks", "curve", "pairing", "groth16", "plonk", "bls", "elliptic", "signature"]
description = "State-of-the-art Elliptic Curve operations and SNARKS verification for Cairo & Starknet"
readme = "../README.md"
repository = "https://github.com/keep-starknet-strange/garaga"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[cairo]
sierra-replace-ids = false

[features]
full = []

[dependencies]

[dev-dependencies]
cairo_test = "2.9.1"

#snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.30.0" }
#assert_macros = "2.8."
