[package]
name = "garaga"
version = "1.0.1"
edition = "2024_07"
licence = "MIT"
keywords = ["zk", "snarks", "curve", "pairing", "groth16", "plonk", "bls", "elliptic", "signature"]
description = "State-of-the-art Elliptic Curve operations and SNARKS verification for Cairo & Starknet"
readme = "../README.md"
repository = "https://github.com/keep-starknet-strange/garaga"
authors = ["feltroidprime", "Keep Starknet Strange Contributors"]
documentation = "https://garaga.gitbook.io/garaga/"
# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[features]
full = []

[dependencies]
corelib_imports = { path = "corelib_imports", version = "0.1.2" }

[dev-dependencies]
snforge_std = "0.53.0"
assert_macros = "2.14.0"
#cairo_test = "2.14.0"
cairo_execute = "2.14.0"

[scripts]
test = "snforge test -p garaga --include-ignored"
