[package]
name = "corelib_imports"
version = "0.1.2"
edition = "2023_10"
description = "Useful Corelib non-public functions, structs, and traits made public and re-exported through 2023_10 edition"
readme = "README.md"
repository = "https://github.com/keep-starknet-strange/garaga/tree/main/src/corelib_imports"
authors = ["feltroidprime"]
[lib]

[dependencies]

[dev-dependencies]
cairo_test = "2.14.0"
