name: Cairo Workflow / publish

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  pre_job:
    # continue-on-error: true # Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'never'
          paths: '["src/**", ".github/workflows/cairo.yml"]'


  test-cairo:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          components: rustfmt

      - name: Setup Starknet Foundry
        uses: foundry-rs/setup-snfoundry@v4
      - name: Setup Scarb
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-lock: ./src/Scarb.lock

      - name: Run scarb fmt check in src
        working-directory: src/
        run: scarb fmt --check
      - name: Run scarb test in src
        working-directory: src/
        run: scarb test

      - name: Run scarb fmt check in mutator_set
        working-directory: src/contracts/mutator_set
        run: scarb fmt --check
      - name: Run snforge test in mutator_set
        working-directory: src/contracts/mutator_set
        run: snforge test
      - name: Run scarb test for all autogenerated contracts
        run: ./tools/make/test_contracts.sh

      - name: Run scarb fmt check in risc0_sample_app
        working-directory: src/contracts/risc0_sample_app/fibonacci_sequencer
        run: scarb fmt --check
      # Conflicting with the e2e test : we don't want to dedeploy the verifier at each commit.
      # - name: Run snforge test in risc0_sample_app
      #   working-directory: src/contracts/risc0_sample_app/fibonacci_sequencer
      #   run: snforge test

      - name: Publish to Scarb Registry
        if: startsWith(github.ref, 'refs/tags/')
        working-directory: src/
        env:
          SCARB_REGISTRY_AUTH_TOKEN: ${{ secrets.SCARB_REGISTRY_AUTH_TOKEN }}
        run: scarb publish
